[Unit]
Description = 1Password Password Manager

[Service]
Type=simple
ExecStart=/usr/bin/1password --silent
Restart=on-failure
RestartSec=5

[Install]
WantedBy=tray.target
